<div class="container-dialog">
    <div id="icon-feedback">
        <i class="fa-solid fa-comments"></i>
    </div>
    <dialog id="my-dialog">
        <form action="">
            <label for="">Name</label>
            <input type="text">
        
            <label for="">Name</label>
            <input type="text">
        </form>
    </dialog>
</div>