<div id="header">
  <nav> 
    <ul>
      <li class="active"><a href="/"><img src='./images/bot.png'/></a></li>
      <li><a href="#"><i class="fa-solid fa-cloud"></i><br>Forecast</a></li>
      <li><a href="#"><i class="fa-solid fa-location-dot"></i><br>Location</a></li>
      <li><a href="./about.html">About</a></li>
      <li><a href="./help.html">Help</a></li>
      <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
    </ul> 
  </nav>
</div>